.label {
    color: white;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 1rem;
}
.input{
    padding: .5rem;
    width: 50%;
}
